<div id="{{id}}" data-control="slider"
    {{#if twoWay}}data-range="true"{{/if}}
    {{#if step}}data-step="{{step}}"{{/if}}
    {{#if price}}data-price="true"{{/if}}
    {{#if duration}}data-duration="true"{{/if}}
    {{#if time}}data-time="true"{{/if}}
    {{#if weekday}}data-weekday="{{weekday}}"{{/if}}
    {{#if currency}}data-currency="{{currency}}"{{/if}}
    {{#if min}}data-min="{{min}}"{{/if}}
    {{#if max}}data-max="{{max}}"{{/if}}
    {{#if plus}}data-plus="true"{{/if}}
    {{#if value}}data-value="{{value}}"{{/if}}
    {{#if values}}data-values="{{values}}"{{/if}}>
</div>
