<div class="timepicker input-group select">
    <label>{{label}}</label>
    <select id="{{id}}" data-control="timepicker" name="{{name}}">
        {{#each times}}
            <option value="{{this}}">{{i18nTime this}}</option>
        {{/each}}
    </select>
</div>